---
//Var
const { name, icon, description } = Astro.props;
---

<div class="bg-[#403d58] dark:bg-[#F2EDE3] flex-1 md:flex-none h-32 flex flex-col items-center justify-center p-4 m-1 border border-[#F2EDE3] rounded-lg transform transition-transform duration-300 hover:scale-105 dark:filter dark:brightness-90">
  <i class={`${icon} text-[#F2EDE3] dark:text-[#403d58] text-5xl`}></i>
  <h3 class="text-2xl mt-2 text-[#F2EDE3] dark:text-[#403d58]">{name}</h3>
  {description && <p class="text-center text-[#F2EDE3] dark:text-[#403d58]">{description}</p>}
</div>