---
//Var
const { name, icon, description } = Astro.props;
---

<div class="bg-[#403d58] dark:bg-[#F2EDE3] flex-1 md:flex-none h-32 flex flex-col items-center justify-center p-4 border border-gray-300 rounded-lg">
  <i class={`${icon} text-white dark:text-[#403d58] text-5xl`}></i>
  <h3 class="text-2xl mt-2 text-white dark:text-[#403d58]">{name}</h3>
  {description && <p class="text-center text-white dark:text-[#403d58]">{description}</p>}
</div>