@import '/node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'tailwindcss/tailwind.css';

html {
    background-color: #F2EDE3;
    font-family: Poppins, sans-serif;
    user-select: none;
    color: #403D58;
}

html.dark {
    background-color: #403D58;
    color: #F2EDE3;
}