.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(0, 0, 0, 0) 70%);
  position: fixed;
  pointer-events: none;
  transition: transform 0.1s ease-out, width 0.3s, height 0.3s, box-shadow 0.3s;
  will-change: transform;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
}