---
// Styles
import '../styles/global.css';

//Components
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MouseFollower from '../components/MouseFollower.tsx';

const pageTitle = "Contacto";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/webp" href="/logo.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

        <Header />

		<h1>{pageTitle}</h1>

		<MouseFollower client:load />


        <Footer />

	</body>
</html>
