---
//Layouts
import Layout from '../layouts/Layout.astro';

//Components
import {Image} from 'astro:assets'
import Section from '../components/section/Section.astro';
import MiniSocial from '../components/social/MiniSocial.astro';

//Var
const pageTitle = "Abel Sturm";
---
<Layout pageTitle={pageTitle}>

  <div class="container">
    <div class="content">
      <h1>{pageTitle}</h1>
      <p>¡Hola! Soy Abel Sturm, un desarrollador web de España.</p>
      <MiniSocial platform="linkedin" username="abel-sturm" icon="fa-brands fa-linkedin" />
    </div>  
    <div class="img-crop">
      <Image 
        src="/fondu.png"
        alt="Logo"
        width={300}
        height={150}
      />
    </div>
  </div>

  <Section sectionTitle="Sobre mi">
    <p>¡Hola! Soy Abel Sturm, un desarrollador web de España. Me encanta programar y aprender cosas nuevas.</p>
    <p>Actualmente estoy aprendiendo Astro y me está gustando mucho.</p>
  </Section>

</Layout>