---
//Layouts
import BaseLayout from '../layouts/BaseLayout.astro';

//Components

//Var
const pageTitle = "Abel Sturm";
---
<BaseLayout pageTitle={pageTitle}>

  <!-- <h2>Subtitles of the page by me jajaja</h2> -->

</BaseLayout>