---
---
<div class="flex items-center md:hidden justify-between w-full md:w-auto">
  <div class="logo  bg-[#403D58] p-2 rounded">
    <img src="/logo.webp" alt="Logo" class="w-10 h-10" />
  </div>
  <div class="hamburger pr-5 cursor-pointer">
    <span class="line block w-10 h-1 mb-2.5 bg-[#403D58] dark:bg-[#F2EDE3]"></span>
    <span class="line block w-10 h-1 mb-2.5 bg-[#403D58] dark:bg-[#F2EDE3]"></span>
    <span class="line block w-10 h-1 mb-2.5 bg-[#403D58] dark:bg-[#F2EDE3]"></span>
  </div>
</div>
