---
//Components
import Title from "../title/Title.astro";

const { sectionTitle } = Astro.props;
---

<div class="section pt-4 pb-4 md:pb-8 md:pt-8">
  <Title>{sectionTitle}</Title>
  <slot />
</div>