---
//Styles
import '../styles/global.css';

//Components
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import MouseFollower from '../components/mousefollower/MouseFollower.tsx';

//Var
const { pageTitle } = Astro.props;
 
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/webp" href="/logo.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow pl-4 pr-4 md:pl-36 md:pr-0">
      <slot />
    </main>
    <!-- <MouseFollower client:load /> -->    
    <Footer />
  </body>
</html>